[buildout]
extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
extensions = mr.developer
auto-checkout = *

parts +=
    checktranslated-translation
    omelette
package-name = collective.checktranslated

test-eggs = collective.checktranslated
package-extras = test

[instance]
eggs +=
    Pillow

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[checktranslated-translation]
recipe = infrae.i18nextract
packages =
   collective.checktranslated
output = ${buildout:directory}/collective/checktranslated/locales/
output-package = collective.checktranslated
domain = collective.checktranslated

[sources]
collective.jekyll = git https://github.com/gotcha/collective.jekyll.git
